.modal {
	box-shadow: -0.5px -0.5px 0 0.5px var(--border-1), 0 0 0 1px var(--border-5),
		-0.5px -0.5px 0 1.5px var(--border-2), 0 0 0 2px var(--border-4);
	background-color: var(--popout-window-bg);
	padding: 0.25rem;
	border: none;
	width: 30rem;
}

.modal__preferences {
	box-shadow: -0.5px -0.5px 0 0.5px var(--border-1), 0 0 0 1px var(--border-5),
		-0.5px -0.5px 0 1.5px var(--border-2), 0 0 0 2px var(--border-4);
	background-color: var(--popout-window-bg);
	padding: 0.25rem;
	border: none;
}

.modal_user_settings {
	width: 35rem;
	height: 12rem;

}

.modal_sign_in {
	width: 35rem;
	height: 12rem;
}

.modal::backdrop {
	display: none;
}

.modal__preferences::backdrop {
	display: none;
}

.modal__flex {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.btn {
	border-radius: 0;
	padding: 0.25rem;
	background-color: var(--popout-window-bg);
	color: var(--button-text);
	box-shadow: -0.5px -0.5px 0 0.5px var(--border-3), 0 0 0 1px var(--border-5),
		-0.5px -0.5px 0 1.5px var(--border-1), 0 0 0 2px var(--border-4);
	margin: 0.125rem;
	cursor: pointer;
}

.btn:active {
	box-shadow: -0.5px -0.5px 0 0.5px var(--border-5), 0 0 0 1px var(--border-3),
		-0.5px -0.5px 0 1.5px var(--border-4), 0 0 0 2px var(--border-1);
}

.btn_ok {
	display: inline-block;
	width: 6rem;
	margin: .5rem;
	margin-left: auto;
}

.btn_cancel {
	display: inline-block;
	width: 6rem;
	margin: .5rem;
	margin-right: auto;
}

.flex {
	display: flex;
}

.btn_mid {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 1rem;
}

.settings__input {
	border: none;
	padding: 0.25rem;
	background-color: var(--popout-window-bg);
	color: var(--text);
	box-shadow: inset -1px -1px var(--border-1), inset 1px 1px var(--border-5),
		inset -2px -2px var(--border-2), inset 2px 2px var(--border-4);
	margin: 0.125rem;
}

.settings__input__name {
	width: 7rem;
}

.settings__input__about_me {
	max-width: 20rem;
}

.settings__input__color {
	width: 4rem;
}

.settings__input__color_picker {
	height: 1.25rem;
	width: 2.5rem;
	box-shadow: -0.5px -0.5px 0 0.5px var(--border-3), 0 0 0 1px var(--border-5),
		-0.5px -0.5px 0 1.5px var(--border-1), 0 0 0 2px var(--border-4);
}

.win__txt_box {
	display: flex;
	margin: 1rem;
}

.settings__grid {
	display: grid;
	grid-template-columns: 10rem 1fr;
	margin: 1rem;
	row-gap: .5rem;
}

.theme__grid {
	display: grid;
	grid-template-columns: 15rem 1fr 1rem;
	margin: 1rem;
	row-gap: .5rem;
}

.win__txt {
	color: var(--text);
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: none;
	font-size: 1rem;
	line-height: 1.75rem;
}

.popup__txt {
	color: var(--text);
	flex: 1; /* Allows the p element to take up the remaining space */
	text-align: center; /* Centers the text horizontally within the p element */
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
}

.win__icon_risk {
	width: 4rem;
}

.nav {
	position: relative;
	top: 0;
	left: 0;
	height: 1.75rem;
	display: flex;
	padding: 0.25rem;
	flex-wrap: nowrap;
	background: linear-gradient(to right, var(--accent-1), var(--accent-2));
}

.nav__btn {
	width: 1.5rem;
	height: 1.5rem;
	flex: none;
	border-radius: 0;
	padding: 0;
	background-color: var(--popout-window-bg);
	color: var(--button-text);
	box-shadow: -0.5px -0.5px 0 0.5px var(--border-3), 0 0 0 1px var(--border-5),
		-0.5px -0.5px 0 1.5px var(--border-1), 0 0 0 2px var(--border-4);
	margin: 0.125rem;
	cursor: pointer;
}

.nav__btn:active {
	box-shadow: -0.5px -0.5px 0 0.5px var(--border-5), 0 0 0 1px var(--border-3),
		-0.5px -0.5px 0 1.5px var(--border-4), 0 0 0 2px var(--border-1);
}

.nav__btn:focus {
	outline: 1px dotted #000000;
	outline-offset: -2px;
}

.nav__btn_left {
	margin-left: auto;
}

.nav__btn_right {
	margin-left: 0.375rem;
	margin-right: 1rem;
}

.nav__btn__icon {
	width: 100%;
	height: 100%;
}

.nav__text {
	font-size: 1.25rem;
	line-height: 1.75rem;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--header-text);
	font-weight: bold;
	flex: none;
}

.btn__icon {
	width: 2rem;
	height: 2rem;
}

.form__btn {
	width: 1.25rem;
	height: 1.25rem;
	flex: none;
	border-radius: 0;
	padding: 0;
	background-color: var(--popout-window-bg);
	color: var(--button-text);
	box-shadow: -0.5px -0.5px 0 0.5px var(--border-3), 0 0 0 1px var(--border-5),
		-0.5px -0.5px 0 1.5px var(--border-1), 0 0 0 2px var(--border-4);
	margin: .25rem;
	cursor: pointer;
}

.color_picker {
	height: 100%;
	width: 100%;
	border: none;
	padding: 0;
	margin: 0;
	background-color: var(--popout-window-bg);
}