.chat {
	width: calc(100% - .5rem);
	height: calc(100% - .5rem);
	box-sizing: border-box;
	border: none;
	padding: 0.25rem;
	background-color: var(--field-bg);
	color: var(--text);
	box-shadow: inset -1px -1px var(--border-1), inset 1px 1px var(--border-5),
		inset -2px -2px var(--border-2), inset 2px 2px var(--border-4);
	margin: 0.25rem;
}

.chat__wrapper {
	overflow-y: auto;
	box-sizing: border-box;
	height: 100%;
}