.servers_window { 
	height: 100%;
	box-sizing: border-box;
	padding: .25rem;
	background-color: var(--popout-window-bg);
	margin: .25rem 1rem 1rem .25rem;
	box-shadow: -0.5px -0.5px 0 0.5px var(--border-1), 0 0 0 1px var(--border-5),
		-0.5px -0.5px 0 1.5px var(--border-2), 0 0 0 2px var(--border-4);
}

.nav {
	position: relative;
	top: 0;
	left: 0;
	height: 1.75rem;
	display: flex;
	padding: 0.25rem;
	flex-wrap: nowrap;
	background: linear-gradient(to right, var(--accent-1), var(--accent-2));
}

.nav__text {
	font-size: 1.25rem;
	line-height: 1.75rem;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--header-text);
	font-weight: bold;
	flex: none;
}

.details_box {
	padding: .25rem;
}

.txt_user {
	color: var(--text);
	font-size: 1rem;
	margin: .25rem 0;
	line-height: 1.25rem;
}

.txt_section {
	color: var(--indicator-accent);
	font-size: .75rem;
	margin: .75rem 0 0 0;
	font-weight: bold;
}

.btn {
	width: calc(100% - 1rem);
	border-radius: 0;
	padding: 0.25rem 0;
	background-color: var(--main-window-bg);
	color: var(--button-text);
	box-shadow: -0.5px -0.5px 0 0.5px var(--border-3), 0 0 0 1px var(--border-5),
		-0.5px -0.5px 0 1.5px var(--border-1), 0 0 0 2px var(--border-4);
	margin: 0.5rem;
	cursor: pointer;
}

.btn:active {
	box-shadow: -0.5px -0.5px 0 0.5px var(--border-5), 0 0 0 1px var(--border-3),
		-0.5px -0.5px 0 1.5px var(--border-4), 0 0 0 2px var(--border-1);
}

.btn__current {
	box-shadow: -0.5px -0.5px 0 0.5px var(--border-5), 0 0 0 1px var(--border-3),
		-0.5px -0.5px 0 1.5px var(--border-4), 0 0 0 2px var(--border-1);
}