.form {
	width: 100%;
	height: 100%;
	display: flex;
}

.form__input {
	box-sizing: border-box;
	width: calc(100% - 6rem);
	height: calc(100% - .5rem);
	border: none;
	padding: 0.25rem;
	background-color: white;
	color: black;
	box-shadow: inset -1px -1px #fff, inset 1px 1px grey,
		inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
	margin: 0.25rem;
	resize: none;
	font-size: 1rem;
}

.btn {
	width: 6.5rem;
	border-radius: 0;
	padding: 0.25rem 0;
	background-color: var(--eggshell);
	color: black;
	box-shadow: -0.5px -0.5px 0 0.5px #c0c0c0, 0 0 0 1px #808080,
		-0.5px -0.5px 0 1.5px #ffffff, 0 0 0 2px #0a0a0a;
	margin: 0.375rem;
	cursor: pointer;
}

.btn:active {
	box-shadow: -0.5px -0.5px 0 0.5px #808080, 0 0 0 1px #c0c0c0,
		-0.5px -0.5px 0 1.5px #0a0a0a, 0 0 0 2px #ffffff;
}

.flex {
	display: flex;
	flex-direction: column;
}

.kaomoji_container {
	margin-top: .25rem;
	margin-left: .5rem;
}

.kaomoji_field {
	width: 40rem;
	box-sizing: border-box;
	border: none;
	background-color: var(--eggshell);
	color: black;
	box-shadow: -0.5px -0.5px 0 0.5px #ffffff, 0 0 0 1px #808080,
		-0.5px -0.5px 0 1.5px #dfdfdf, 0 0 0 2px #0a0a0a;
	margin: 0.25rem;
	padding: 0.25rem;
	font-size: 1rem;
	line-height: 1rem;
	z-index: 1;
	overflow-y: auto;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
}

.kaomoji_tab {
	box-shadow: -0.5px -0.5px 0 0.5px #ffffff, 0 0 0 1px #808080,
		-0.5px -0.5px 0 1.5px #dfdfdf, 0 0 0 2px #0a0a0a;
	border-radius: 4px 0 0 4px;
	margin: .125rem -2px .125rem 0;
	padding: .25rem 0 .125rem 0;
	font-size: 1rem;
	line-height: 1.125rem;
	width: 4.5rem;
	background-color: var(--eggshell);
	color: black;
	position: relative;
	z-index: 1;
}

.kaomoji_tab:active, .kaomoji_tab_active {
	font-weight: bold;
	z-index: 2;
}

.kaomoji_tab:active::after, .kaomoji_tab_active::after {
	content: '';
	position: absolute;
	top: -3px;
	right: -3px; /* Adjust to cover the shadow */
	border-radius: 0;
	height: calc(100% + 4px);
	width: 2px; /* Adjust based on how much you want to cover */
	background-color: var(--eggshell);
	z-index: 2;
}

.Kaomoji_option {
	font-size: 1rem;
	line-height: 1rem;
	height: 1.75rem;
	word-wrap: none;
	padding: 0;
	background: none;
	color: black;
}