.page {
	background-color: var(--desktop-bg);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
}

.right_side {
	display: flex;
	flex-direction: column;
	width: 22rem;
	height: 100vh;
	flex-grow: 0;
	flex-shrink: 0.75;
}

.window {
	/* width: calc(100vw - 2rem); */
	flex-grow: 1;
	height: calc(100vh - 2rem);
	box-sizing: border-box;
	padding: .25rem;
	background-color: var(--main-window-bg);
	margin: 1rem;
	box-shadow: -0.5px -0.5px 0 0.5px #ffffff, 0 0 0 1px #808080,
		-0.5px -0.5px 0 1.5px #dfdfdf, 0 0 0 2px #0a0a0a;
}

.grid {
	display: grid;
	height: calc(100% - 2.25rem);
	width: 100%;
	box-sizing: border-box;
	grid-template-rows: 1fr 10rem;
}

.grid__chat {
	grid-row: span 1 / span 1;
	grid-row-start: 1;
	background-color: var(--main-window-bg);
	overflow-y: auto;
}

.grid__message_box {
	grid-row: span 1 / span 1;
	grid-column: span 1 / span 1;
	grid-row-start: 2;
	background-color: var(--main-window-bg);
	overflow-x: hidden;
}

.btn {
	border-radius: 0;
	padding: .25rem;
	background-color: var(--main-window-bg);
	color: var(--button-text);
	box-shadow: -0.5px -0.5px 0 0.5px #c0c0c0, 0 0 0 1px #808080,
		-0.5px -0.5px 0 1.5px #ffffff, 0 0 0 2px #0a0a0a;
	margin: .125rem;
	cursor: pointer;
}

.btn:active {
	box-shadow: -0.5px -0.5px 0 0.5px #808080, 0 0 0 1px #c0c0c0,
		-0.5px -0.5px 0 1.5px #0a0a0a, 0 0 0 2px #ffffff;
}